/*header page*/
.landingPage{
  align-items: center;
  min-height: 100vh;
  background: url(../src/assets/background.jpg);
  background-size: cover;
}

.textContainer {
  border: 4px solid white;
  position: relative;
  top:300px;
  width:50%;
  left:25%
}

.title{
  font-size: 4rem;
  font-family: 'Bebas Neue', cursive;
  margin: 0;
  padding-top: 50px;
  letter-spacing: 2px;
}

.title,
.titleDesc{
  color:white;
  text-align: center;
}

.titleDesc {
  padding-bottom: 50px;
  margin:0;
  font-family: 'Lato', sans-serif;
}

/*intro*/
.intro{
width: 77%;
margin: 0 auto;
text-align: center;
font-size: 2.5rem;
min-height:80vh;
}



/*plants info*/
.plantInfoContainer{
background: rgba(255,255,255, 0.3);
border-radius: 10px;
width: 77%;
margin: 0 auto;
padding: 10px 15px 10px 15px;
}








