a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


/*general styling*/
.wrapper {
  max-width: 1280px;
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


/*Font styling*/
.title,
introSubHeading,
.plantGallery,
.plantTitle{
  font-family: 'Bebas Neue', cursive;
}

.titleDesc,
.introTitle,
.introText,
.anchor,
.plantInfoContainer,
.footer,
.galleryText {
  font-family: 'Rajdhani', sans-serif
}

.textContainer,
.intro,
.galleryContainer,
.plantTitle{
  text-align: center;
}

.introSubHeading,
.title{
  text-shadow: 2px 2px 2px rgba(0,0,0,0.30);
}



/*header page*/
.landingPage{
  align-items: center;
  min-height: 100vh;
  background: url(../src/assets/plantsHeaderedit1.jpg);
  background-size: cover;
}

.textContainer {
  margin: 0 auto;
  border: 4px solid black; 
  position: relative;
  top:200px;
  width:50%;
}

.title{
  font-size: 4rem;
  margin: 0;
  padding-top: 50px;
  letter-spacing: 2px;
}

.titleDesc {
  padding-bottom: 50px;
  margin:0;
  font-size: 1.1rem;
  font-weight: 600;
  text-shadow: 2px 2px 2px rgba(255,255,255,0.80)

}

.fa-chevron-down{
  color: rgba(0,0,0, 0.5);
  position:absolute;
  left:48%;
  bottom: 30px;
  font-size: 3.3rem;
  animation: hover-me .6s infinite ease-in-out alternate;
}

@keyframes hover-me {
  100% { transform: translate3d(0, 15px, 0); }
}




/*intro*/
.intro{
margin: 0 auto;
font-size: 2.5rem;
background-color: rgba(90, 111, 69, 0.7);
}

.introTitle{
  font-size: 2.8rem;
  line-height: 43px;
  padding-bottom: 10px;
  padding-top:140px;
  color: rgba(255,255,255, 0.9);
  text-shadow: 1px 1px 1px rgba(255,255,255,0.80)
}

.introSubHeading{
  color: lightyellow;
  padding-bottom: 10px;
  padding-top:10px;
}

.introText{
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 36px;
  padding-left: 150px;
  padding-right: 150px;
}

.last {
padding-bottom:130px;
}



/*plant gallery*/

.galleryText{
  padding:0 15px 14px 15px;
  margin: 0 auto;
}

.galleryContainer{
  padding-top:80px;
  margin: 0 auto;
}

.sortingButton{
  border:3px solid transparent;
  background-color: grey;
  font-weight: 600;
  border-radius: 10px;
  padding:8px;
  margin-bottom: 20px;;
}

.sortingButton:hover{
  color:black;
  background-color:rgba(90, 111, 69);
  border-bottom: 3px solid black;
}

.sortingButton:focus{
  color:black;
  background-color:rgba(90, 111, 69);
  border-bottom: 3px solid black;
}


.plantImage{
  width: 300px;
}

.images{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.plantGallery{
  font-size: 4rem;
  width: 50%;
  margin:0 auto;
  padding-bottom: 10px;
  color:rgba(90, 111, 69);
}


.anchor{
position:relative;
color:white;
font-weight: 600;
text-shadow: 4px 4px 4px rgba(0,0,0,0.64);
}

.anchor:focus{
  border:1px solid black;
}

.plantName{
  font-size: 1.4rem;
  width: 300px;
  height: 300px; 
  position: absolute;
  padding-top:130px;
  background-color: rgba(90, 111, 69, 0.3);
}  

.plantName:hover{
  font-size: 0;
  background-color: transparent;
}



/*plant's data*/
.plantInfoContainer{
  background-image: url(./assets/photo.png);
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  padding: 10px 15px 10px 15px;
  margin-top: 20px;
  margin-bottom: 15px;
  background-position-x: -100px;
  background-repeat: no-repeat;
  border: 1px solid #63A194;
}

.plantTitle{
  margin-bottom: 0;
  font-size: 2.5rem;
  letter-spacing: 2px;
  padding: 15px 0 15px 0;
}

.information {
  background-color: rgba(255,255,255, 0.4);
  padding:5px;
  border-radius: 10px;
}

.icons{
width:12%;
padding-bottom: 15px;
padding-left: 10px;
padding-right: 10px;
flex: 0 0 auto
}

.iconContainer{
  display: flex;
  align-items: center;
}

.iconContainer p {
  margin:0;
  font-size: 1.1rem;
  line-height: 22px;
  font-weight: 600;
  padding-bottom:20px
}

.breakLine {
  border-bottom: 1px solid #63A194;
  width: 30%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 40px;
}

.like{
  padding-left: 5px;
  padding-bottom: 3px;
}

.likeButton{
  border: none;
  background: white;
}

.likesContainer{
  display:flex;
}
.likesNumber{
  align-self: center;
  font-weight: 600;
  padding-top:5px;
}

.fa-heart{
  color: grey
}

.fa-heart:hover{
  color:red;
}
.iconsCred{
  text-align: right;
}

/*footer*/

.footer{
  background-color: rgba(90, 111, 69, 0.8);
  color:white;
  padding:10px;
  text-align: center;
}

.fa-copyright{
  font-size: 0.7rem;
  margin-right: 2px;
}



/*media queries*/
@media (max-width: 958px){
  .plantInfoContainer{
    width: 80%;
    background-position-y: 155px;
    background-position-x: -202px;
    transition: all 0.5s;
  }

  .introText{
    padding: 0 50px 0 50px;
  }

  .last{
    padding-bottom:120px;
  }
}

@media(max-width: 788px){

  .introTitle{
    padding-top: 60px;
  }

  .galleryContainer{
    padding-top: 70px;
  }

  .icons{
    width: 15%;
    transition: all 0.5s;
  }
}


@media (max-width:600px){

  .iconContainer{
    display: block
  }

  .icons {
    display: block;
    margin: 0 auto;
    width: 20%;
    transition: all 0,5s;
  }
  .plantInfoContainer{
    background-position:-334px;
  }

  .landingPage{
    background-position-x: -96px;
    transition: all 0.5s;
  }
  .textContainer{
    width: 86%;
    transition: all 0.5s;
  }

  .plantGallery{
    width: 60%;
  }

  .introText{
    font-size: 1rem;
    line-height: 26px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .last{
    padding-bottom: 70px;
  }

  .fa-chevron-down{
    font-size: 2.5rem;
  }

  .introTitle{
    font-size: 2.2rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .plantImage{
    width: 250px;
  } 

  .plantName{
    width: 250px;
    height: 250px;
    padding-top:100px
  }
}

@media (max-width: 500px){
  .plantImage{
    width: 200px;
    transition: all 0.5s;
  }
  .plantName{
    width: 200px;
    height: 200px;
    padding-top:100px;
    transition: all 0.5s;
  }
}

@media (max-width: 400px){ 

  .images{
    justify-content: space-evenly;
  }
  .anchor{
    margin-bottom: 19px;
  }

  .galleryText{
    padding: 0 12px 14px 12px;
  }

  .icons{
    width: 32%;
    padding-bottom:5px;
    transition: all 0.5s;
  }

  .landingPage{
    background-position-x: -152px;
    transition: all 0.5s;
  }
  .title{
    padding-top: 30px;
    font-size: 3.2rem;
  }

  .titleDesc{
    padding: 0 10px 30px 10px;
  }

  .plantImage{
    width: 170px;
  }

  .plantName{
    width: 170px;
    height: 170px;
    font-size: 1.2rem;
    padding-top:87px;
  }

  .introTitle{
    font-size: 2rem;
  }

  .iconContainer p {
    font-size: 1rem;
  }

  .iconsCred{
    margin-top: 14px;
  }
}




