a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


/*general styling*/
.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/*header page*/
.landingPage{
  align-items: center;
  height: 100vh;
  background: url(../src/assets/background.jpg);
  background-size: cover;
}

.textContainer {
  border: 4px solid white;
  position: relative;
  top:200px;
  width:50%;
  margin:0 auto;
  left:0;
  right: 0
}

.title{
  font-size: 4rem;
  font-family: 'Bebas Neue', cursive;
  margin: 0;
  padding-top: 50px;
  letter-spacing: 2px;
}

.title,
.titleDesc{
  color:white;
  text-align: center;
}

.titleDesc {
  padding-bottom: 50px;
  margin:0;
  font-family: 'Lato', sans-serif;
}

/*intro*/
.intro{
width: 77%;
margin: 0 auto;
text-align: center;
font-size: 2.5rem;
padding-top:100px;
padding-bottom:200px;
}

.introImg{
  width: 390px;
  float: left;
  margin-right: 35px;
}

h4{
  padding-top: 80px;
  font-family: 'Lato', sans-serif;
  font-size: 2.8rem;
  line-height: 43px;
  padding-bottom: 10px;
}

h5{
  font-family: 'Bebas Neue', cursive;
  color:#63A194;
  padding-bottom: 10px;
}

.introText{
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  line-height: 35px;
}




/*images*/
.images{
  clear: both;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* background-color: #63A194; */
}

/* .images:hover{
  background-color: rgba(0,0,0, 0.5);
} */


.anchor{
position:relative;
color:black;
font-family: 'Lato', sans-serif;
text-shadow: 3px 2px 3px rgba(0,0,0,0.64);
}


.plantName{
  top: 0;
  width: 300px;
  height: 300px; 
  position: absolute;
  text-align: center;
  padding-top:130px;
 }  

.plantName:hover{
  color:white;  /* border:1px solid black; */
  font-size: 2rem;
  text-shadow: 3px 2px 3px rgba(0,0,0,0.64);
  background-color: rgba(253,218,212, 0.8);
  width: 300px;
}



/*plants info*/
.plantInfoContainer{
background: rgba(255,255,255, 0.3);
border-radius: 10px;
width: 60%;
margin: 0 auto;
padding: 10px 15px 10px 15px;
}

.plantInfoContainer{
  position: relative;
  margin-top: 35px;
  margin-bottom: 35px;
}
.plantTitle{
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  margin-bottom: 0;
  font-size: 2.5rem;
  letter-spacing: 2px;
  padding: 15px 0 15px 0;
}

.icons{
width:13%;
padding-bottom: 15px;
padding-left: 10px;
padding-right: 10px;
}

.iconContainer{
  display: flex;
  align-items: center;
}

.iconContainer p {
  font-family: 'Lato', sans-serif;
  margin:0;
  font-size: 1rem;
  line-height: 20px;
  padding-bottom:20px
}

.breakLine {
  border-bottom: 1px solid #63A194;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.likeButton{
  border: none;
  background: white;
}

.fa-heart{
  color: grey
}

.fa-heart:hover{
  color:red;
}


.likesContainer{
  display:flex;
}
.likesNumber{
  align-self: center;
}
/* 
.fav{
  position: absolute;
  font-size: 2rem;
  top: 0;
  right: -108px;
} */







